.Home {
  background-image: url(https://oir.mobi/uploads/posts/2021-03/1616436809_42-p-kartinki-dlya-fona-saita-52.jpg);
  /*распределяем картинку на весь экран*/
  /* background-color: rgb(181, 235, 212); */ 

  /* background: #7E8ACE;
  background: -moz-linear-gradient(-45deg, #7E8ACE 0%, #7BEFB1 75%, #41AAFF 100%);
  background: -webkit-linear-gradient(-45deg, #7E8ACE 0%, #7BEFB1 75%, #41AAFF 100%);
  background: linear-gradient(135deg, #7E8ACE 0%, #7BEFB1 75%, #41AAFF 100%);
   */
  background-position: center;
  min-height: 100vh;
  -moz-background-size: 100%; 
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  margin-top: 0px;
}


.PonyHome {
  left: 80%;
  bottom: 5%;
  max-height: 30vh !important;
  position: absolute !important;
  margin-top: 0px !important;
}

.PonyHome1 {
  left: 3%;
  bottom: 5%;
  max-height: 45vh !important;
  position: absolute !important;
  margin-top: 0px !important;
}



