.Container {
  display: flex !important;
  justify-content: space-around !important;
  flex-wrap: wrap !important;
  background-position: center;
  min-height: 100vh;
  -moz-background-size: 100%; 
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  margin-top: 0px;
}

.Home {
  background-image: url(https://oir.mobi/uploads/posts/2021-03/thumbs/1616533898_27-p-fon-dlya-yutuba-31.jpg);
  /*распределяем картинку на весь экран*/
  background-position: center;
  min-height: 100vh;
  -moz-background-size: 100%; 
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  margin-top: 0px;
}

.Card:hover {
  transition: 0.8s;
  opacity: 1.0;
}

.Card {
  opacity: .7;
  margin: 15px;
  width: 230px;
  height: 230px;
  display: flex;
}

.Area {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.Img {
  margin: 5px;
  max-width: 225px;
  max-height: 168px;
}
  