.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Home{
background-image: url(https://oir.mobi/uploads/posts/2021-03/1616436809_42-p-kartinki-dlya-fona-saita-52.jpg);
/*распределяем картинку на весь экран*/
background-position: center;
min-height: 100vh;
-moz-background-size: 100%; 
-webkit-background-size: 100%;
-o-background-size: 100%;
margin-top: 0px;  
}

.img {
  width: 30%;
}



